*{
    margin: 0;
    padding: 0;
}
.background{
background-image: url(./testimonial.jpeg);
height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.box{
    height: 500px;
    width: 500px;
margin: 0 auto;
    background-color: rgba(252, 252, 252, 0.288);
    border: dashed 2px white;
    border-radius: 10px;
    overflow: hidden;
}
.box:hover{
    background-color: rgba(0, 0, 0, 0.356);
    overflow-y: scroll;
}
.padding{
    padding-top: 250px;
   
}
.box img{
    border-radius: 50%;
    height: 170px;
    margin-left: 298px;
    margin-top: 50px;
}
.box h1{
    margin-top: -214px;
    margin-left: 289px;
    font-family: sans-serif;
      color: white;
}
.circle{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: rgb(25, 80, 9);
    margin-top: -147px;
    margin-left: -68px;

}
.circle1{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: rgb(255, 123, 0);
    margin-top: -233px;
    margin-left: -46px;
border: dashed 4px white;
}
.circle1 h1{
    font-size: 200px;
    color: white;
    margin-left: 57px;
    margin-top: -53px;
}


.text h1{
    margin-top: 106px;
   margin-left: 22px;
   font-size: 4 0px;

}
.text p{
    font-family: sans-serif;
    font-size: 20px;
    color: white;
     margin-left: 30px;

}
button{
    height: 50px;
    width: 100px;
    background-color: rgb(243, 130, 0);
    color: black;
   border: none;
   margin-left: 40px;
   border-radius: 15px;
   margin-top: -10px;
   font-size: 16px;
}
.buttun{
    padding-bottom: 20px;
}